
.conOneColor{
    background-color: #1f2937;
    color:#e5e7eb;
    
}



.container{
    display:flex;
    flex-direction: column;
    padding:20px 200px;
}

li{
    list-style-type: none;
    
}

.navBar{
    display:flex;
    gap:2em;
    margin-bottom: 100px;
    

}

.headLogo{
    display:flex;
    flex:2;
    font-size: 24px;
    font-weight: bold;
}

.midContent{
    display:flex;
    flex-direction: column;
    flex:1;
    gap:5px;
}

.textOne{
    font-size: 48px;
    font-weight: bolder;
}

.textTwo{
    
    flex-wrap:wrap;
    width: 350px;
}

button{
    display: flex;
    background-color: #3882f6;
    color:white;
    width:fit-content;
    border-radius: 8px;
    padding:5px 15px;
    margin-top: 10px;
}

.placeholder{
    display:flex;
    background-color: gray;
    height:200px;
    width: 500px;
    align-self: flex-end;
    justify-content: start;
    align-items: center;
    color:white;
}


/* The second section */

.container2{
    margin-top: 50px;
    padding:20px 200px;
}

.container2 div .conTwoText{
    font-size: larger;
}

.sqContent{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    order: 0;
}

.sqOne,.sqTwo,.sqThree,.sqFour{
    display:flex;
    border-style: solid;
    border-color: skyblue;
    border-radius: 8px;
    height:150px;
    width: 150px;
    justify-content: space-evenly;
}

.infoOne,.infoTwo,.infoThree,.infoFour{
    display:flex;
    flex-direction: row;
}
