
.conOneColor{
    background-color: #1f2937;
    color:#e5e7eb;
    
}



.container{
    display:flex;
    flex-direction: column;
    padding:20px 200px;
}

li{
    list-style-type: none;
    
}

.navBar{
    display:flex;
    gap:2em;
    margin-bottom: 100px;
    

}

.headLogo{
    display:flex;
    flex:2;
    font-size: 24px;
    font-weight: bold;
}

.midContent{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:flex-start;
    gap:5px;
}


.textOne{
    font-size: 48px;
    font-weight: bolder;
    width: 300px;
}

.textTwo{
    width: 350px;
}

button{
    display: flex;
    background-color: #3882f6;
    color:white;
    width:fit-content;
    border-radius: 8px;
    padding:5px 15px;
    margin-top: 10px;
}

.placeholder{
    display: inline-flex; 
    background-color: gray;
    height: 200px;
    width: 500px;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 100px;
    
}


/* The second section */

.container2{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding:20px 200px;
}

.conTwoText{
    font-size: 36px;
    text-align: center;
    font-weight:bolder;
    margin-bottom: 25px;

}

.sqContent{
    display:flex;
    justify-content:space-evenly;
    margin-bottom: 2px;
}

.sqOne,.sqTwo,.sqThree,.sqFour{
    display:flex;
    border-style: solid;
    border-color: skyblue;
    border-radius: 8px;
    height:150px;
    width: 150px;
    justify-content: space-evenly;
}

.sqInfo{
    display: flex;
    justify-content: space-evenly;
    padding-right:200px;
    padding-left:200px;
    
}

.infoOne,.infoTwo,.infoThree,.infoFour{
    max-width: 150px;
    text-align: center;
}

/* The Third section */

.conThreeColor{
    background-color: #e5e7eb;
    padding:100px 200px;
    margin-top: 100px;
}

.container3{
    display:flex;
    flex-direction: column;
}

blockquote{
    font-style:italic;
    font-size: 36px;
}

.godOfThunder{
    font-weight: bolder;
    text-align:end;
    font-size: 24px;
}

/* The Fourth section */

.container4{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:36px 40px;
    margin:100px auto;
    width:700px;
    flex-flow: row wrap;
    background-color: #3882f6;
    border-radius: 8px;
    
}

.blueBox{
    display:flex;
    flex-direction: column;
    background-color: #3882f6;
    padding:5px 80px;
    flex:1;
    color:white;
    
    
}

.buttonTwo{
    border-style: solid;
    border-color: #e5e7eb;
    border-radius: 8px;
    padding:5px 20px;
    margin-top: 0px;
     
}

/* footer */

footer{
    display:flex;
    justify-content: center;
    background-color:#1f2937;
    color:#f9faf8;
    padding-top:20px;
    padding-bottom:20px;
}

